<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Edit </h1>
    <form method="POST" action="/<%=cryptid._id%>?_method=put" >
        <input type="text" value="<%=cryptid.name%>">
        
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Description</span>
            </div>
            <input class="form-control" aria-label="With textarea" value="<%=cryptid.description%>">
          </div>
   
        <p>confirmed sighting? </p>
        <input type="checkbox" value="<%=cryptid.confirmation%>">
        <a href="/<%=cryptid._id%>"> cancel</a>
        <input type="submit" value="change cryptid?">
    </form>
</body>
</html>